set timeout=-1
set default=0

menuentry "ZHIROS"{
	insmod all_video
	echo "loading kernel and ramdisk. please wait"
	multiboot /boot/kernel.bin
	module /boot/initrd.img
}

menuentry "ZHIROS. EGA(only legacy bios)"{
	echo "loading kernel and ramdisk. please wait"
	multiboot /boot/kernel.bin
	module /boot/initrd.img
	set gfxpayload=text
	boot
}
